@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap');

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #F4F7F6; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #3F5D7D; 
    text-align: center;
    margin-bottom: 10px;
}

.pesquisa-livro {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#input-pesquisa {
    padding: 0.7rem;
    border-radius: 25px;
    border: 1px solid #BFD5D5; 
    font-size: 1rem;
    margin-right: 10px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

#input-pesquisa:focus {
    box-shadow: 0 0 8px rgba(63, 93, 105, 0.4); 
}

#btn-pesquisa {
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    background-color: #3F5D7D; 
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-pesquisa:hover {
    background-color: #2C3E50; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#diario-leitura {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 60vh;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn {
    background-color: #BFD5D5; 
    color: white;
    border: none;
    padding: 1.2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #8DABAC; 
}

.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
}

.info-livro {
    flex: 2;
    padding-left: 2rem;
}

.info-livro h2 {
    font-size: 2rem; 
    color: #3F5D7D; 
}

.info-livro p {
    font-size: 1.2rem; 
    margin: 0.7rem 0; 
    color: #333333; 
}

footer {
    background-color: #3F5D7D; 
    text-align: center;
    padding: 0.5rem 0; 
    width: 100%;
    position: absolute;
    bottom: 0;
}
